/* 
    Document   : rtwiki-styles
    Created on : 4 Feb, 2014, 3:48:50 PM
    Author     : sohil
    Description:
        Purpose of the stylesheet follows.
*/

#wiki-widget .rtwiki-diff {
    position: relative;
}

#wiki-widget .rtwiki-diff img {
    position: absolute;
    left: 13px;
}

.rtwiki-diff-wrap {
    padding-left: 76px;
    min-height: 63px;
}